asttokens
black
click
decorator
executing
ipdb
ipython
jedi
matplotlib-inline
mypy-extensions
numpy
opencv-python
packaging
parso
pathspec
pexpect
pillow
platformdirs
prompt_toolkit
ptyprocess
pure_eval
Pygments
six
stack-data
traitlets
wcwidth
